@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
.text-pre{
    white-space:pre-wrap;
}
.tag{
    border: 1px solid #aaa;
    border-radius: 20%;
    font-size: 1.0rem;
    color:#aaa;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
}

.tag-sm{
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 0.7rem;
    color: #aaa;
    background-color: transparent;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
}
.custom-w-50 {
    width: 50%;
}
.custom-visible-sm{
    display: none;
}
@include media-breakpoint-down(sm) {
    .custom-w-50 {
        width: 100%;
    }
    .custom-visible{
        display: none;
        visibility: invisible;
    }
    .custom-visible-sm{
        visibility: visible;
        display: inline;
    }
}
